<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand " href="javascript:;">职业人管理后台</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="active" >
                <a href="javascript:;">档案</a>
            </li>
            <li>
                <a href="operative/groupcontrol.html">运营</a>
            </li>
            <li>
                <a href="javascript:;">通知</a>
            </li>
            <li>
                <a href="javascript:;">系统</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-list admin-star"></span> 常用</a>
                <ul class="dropdown-menu shortcuts">
                    <li class="shortcut-add" data-url="/admin/common/add"><a href="javascript:;"><i class="glyphicon glyphicon-plus"></i> 添加当前页面为常用功能</a></li>
                </ul>
            </li>
            <li><a href="/"><i class="glyphicon glyphicon-home"></i> 回首页</a></li>
            <li class="dropdown">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> admin <span class="glyphicon glyphicon-chevron-down"></span></a>
                <ul class="dropdown-menu main-list">
                    <li><a href="/logout"><i class="glyphicon glyphicon-off"></i> 退出</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!--/.navbar-collapse -->
</div>